@model NassaProject.Models.Employee

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApply)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoinDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentIdF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentIdF)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
